* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  body {
    background-color: #3F3D56;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: auto;
    overflow: hidden;
    width: 100%;
  }
  
  header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  .logo::after{
    background: white;
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    transition: .4s;
    /* color: #f8b600; */
  }
  .logo:hover::after{
    width: 100%;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-btn__line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  .menu a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(255, 255, 255);
    /* background-color: #f2385d; */
    transition: .4s;
  }
  
  .menu a:hover::after {
    width: 100%;
  }
  
  
  #menu-toggle {
    display: none;
  }

  #sectionparent{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
  }
  .sectionClass{
    display: flex;
    position: absolute;
    /* border: 2px solid red; */
    height: 40%;
    width: 75%;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sectionProjects{
    /* border: 2px solid white; */
    height: auto;
    width: 25%;
    /* width: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .sectionProjects::before{
    content: ' ';
    top: -5%;
    height: 110%;
    width: 110%;
    position: absolute;
    z-index: -2;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: growDiv .7s ease-in-out;
  }
  @keyframes growDiv{
    from{
        width: 10%;
    }
    to{

    }
  }
  .sectionProjects>img{
    /* background-color: white; */
    /* border: 2px solid red; */
    /* height: 40%;
    position: absolute;
    top: 50%;
    left: 10%; */
    transform: translate(0%, 0%);
    width: 90%;
    transition: width .2s ease-in-out;
    animation: grow 1s ease-in-out;
  }
  @keyframes grow{
    from{
        width: 10%;
    }
    to{

    }
  }
.sectionProjects>img:hover{
    width: 100%;
    cursor: pointer;
}
/* .menu>li:nth-child(2){
  color: red;
}  */
  @media screen and (max-width: 758px) {
    body{
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
    }
    .menu a{
      display: none;
      transition: all .2s ease-in-out;
    }
     .menu {
      
      transform: scale(100% , 0);
      transition: transform .2s ease-in-out;
      /* top: -40%;
      opacity: 0%; */
      /* transition: height 0.5s ease-in-out, opacity 0.1s ease-in-out; */
    }
  
    .menu-btn {
      display: flex;
      
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
      z-index: 1;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    .menu-btn__line {
      background-color: #fff;
    }
    #menu-toggle:checked ~ .menu {
      /* transition: display 2s linear; */
      transform: scale(100%, 100%);
      transform-origin: top;
      opacity: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(63, 61, 86, .74);
      color: #fff;
      padding: 20px;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 998;
    } 
  
    #menu-toggle:checked ~ .menu li {
      margin-left: 0;
      margin-bottom: 15px;
      text-align: center;
    }
  
    #menu-toggle:checked ~ .menu a {
      display: inline;
      color: #fff;
      font-size: 20px;
      transition: color 0.3s ease;
    }
    #sectionProjects{
        border: 2px solid red;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .sectionClass{
      flex-direction: column;    
      width: 80%;
      height: 200vh;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      /* overflow-y: scroll; */
    }
    .sectionProjects{
      /* border: 2px solid white; */
      height: 40vh;
      width: 70%;
      /* width: auto; */
      display: flex;
      justify-content: center;
      position: relative;
      
    }
    .sectionProjects::before{
      content: ' ';
      top: -5%;
      height: 110%;
      width: 110%;
      position: absolute;
      z-index: -2;
      background: rgba(255, 255, 255, 0.09);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      animation: growDiv .7s ease-in-out;
    }
    @keyframes growDiv{
      from{
          width: 10%;
      }
      to{
  
      }
    }
    .sectionProjects>img{
      /* background-color: white; */
      /* border: 2px solid red; */
      /* height: 40%;
      position: absolute;
      top: 50%;
      left: 10%; */
      transform: translate(0%, 0%);
      width: 90%;
      transition: width .2s ease-in-out;
      animation: grow 1s ease-in-out;
    }
    @keyframes grow{
      from{
          width: 10%;
      }
      to{
  
      }
    }
  .sectionProjects>img:hover{
      width: 100%;
      cursor: pointer;
  }}