
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  body {
    background-color: #3F3D56;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  .logo::after{
    background: white;
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    transition: .4s;
    /* color: #f8b600; */
  }
  .logo:hover::after{
    width: 100%;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-btn__line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  .menu a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(255, 255, 255);
    transition: .4s;
  }
  
  .menu a:hover::after {
    width: 100%;
  }
  
  
  #menu-toggle {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu a{
      display: none;
      transition: all .2s ease-in-out;
    }
     .menu {
      
      transform: scale(100% , 0);
      transition: transform .2s ease-in-out;
      /* top: -40%;
      opacity: 0%; */
      /* transition: height 0.5s ease-in-out, opacity 0.1s ease-in-out; */
    }
  
    .menu-btn {
      display: flex;
      
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
      z-index: 1;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    .menu-btn__line {
      background-color: #fff;
    }
    #menu-toggle:checked ~ .menu {
      /* transition: display 2s linear; */
      transform: scale(100%, 100%);
      transform-origin: top;
      opacity: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(63, 61, 86, .74);
      color: #fff;
      padding: 20px;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 998;
    } 
  
    #menu-toggle:checked ~ .menu li {
      margin-left: 0;
      margin-bottom: 15px;
      text-align: center;
    }
  
    #menu-toggle:checked ~ .menu a {
      display: inline;
      color: #fff;
      font-size: 20px;
      transition: color 0.3s ease;
    }
  }
  
  #home {
    height: 100vh;
    /* background-image: linear-gradient(135deg, #FF9F68, #FFCD56, #1AAB8A, #374B4A, #6E75A8); */
    /* background-color: #3F3D56; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #home .content {
    text-align: center;
  }
  
  #home h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
  }
  #role{
    /* color: #FF9F68 ; */
    color: #f2385d;
    font-weight: bolder;
    /* font-size: 20px; */
  }
  
  #home p {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #fff;
  }
  
  #home .cta-button {
    position: relative;
    display: inline-block;
    background-color: #fff;
    outline: 3px solid white;
    outline-offset: -5px;
    color: #333;
    /* color: white; */
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: outline-offset .5s ease, background .5s ease;
  }
  
  #home .cta-button:hover {
    /* border: 2px solid #fff; */
    outline: 3px solid white;
    background: white;
    color: black;
    outline-offset: 5px;
    /* padding: 20px 35px; */
    color: #fff;
    background-color: transparent;
    /* box-shadow: 0px 0px 20px 1px rgb(15, 14, 20); */
  }


  footer {
  
    background-color:  transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
#comet1, #comet2 ,#comet3, #comet4{
  z-index: -1;
  height: 150px;
  width: 150px;
  position: absolute;
  
  
}
#comet1{
  top: 0;
  left: 0;
  animation: comet_animation1 linear 10s infinite;
}
#comet2{
  top: 0;
  left: 20%;
  animation: comet_animation2 linear 11s infinite;
}
#comet3{
  top: 0;
  left: 40%;
  animation: comet_animation3 linear 15s infinite;
}
#comet4{
  top: 0;
  left: 15%;
  animation: comet_animation4 linear 13s infinite;
}
@keyframes comet_animation1{
   from{
    opacity: 1;
    top: 0;
    left: 0;
   } 
   to {
      opacity: 0;
      top: 80%;
      left: 50%;
   }
}
@keyframes comet_animation2{
  from{
    opacity: 1;
   top: 0;
   left: 20%;
  } 
  to {
    opacity: 0;
     top: 80%;
     left: 80%;
  }
}
@keyframes comet_animation3{
  from{
  opacity: 1;
   top: 0;
   left: 0;
  } 
  to {
     opacity: 0;
     top: 80%;
     left: 40%;
  }
}
@keyframes comet_animation4{
  from{
    opacity: 1;
   top: 0;
   left: 0;
  } 
  to {
    opacity: 0;
     top: 80%;
     left: 70%;
  }
}

/* @keyframes star_animation{
  from{

  }
  to{
    top: 5%;
    left: 10%;
  }
} */